Django==5.2.1
djangorestframework==3.16.0
django-cors-headers==4.7.0
djangorestframework-simplejwt==5.5.0
psycopg2-binary==2.9.10
numpy==1.26.4
tensorflow==2.19.0
Pillow==11.2.1
python-dotenv==1.1.0
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==2.3.0
